<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PATH" value="node.exe"/>
    <add key="CWD" value="%dwd%"/>

    <add key="AS_SERVICE" value="auto"/>
    <add key="USE_SHOWWINDOW" value="true"/>
    <add key="AS_DESKTOP_USER" value="auto"/>


    <add key="OUTPUT" value="%temp%\cloudfs.log"/>
    <add key="ENV_DEBUG" value="random-read-http:info,osqlite:swift:info,casfs:info,random-read-http:error,osqlite:swift:error,casfs:error"/>

    <add key="ARGV0" value="node_modules/cnyks/bin/cnyks"/>
    <add key="ARGV1" value="."/>
    <add key="ARGV2" value="--ir://run"/>

  </appSettings>
</configuration>