<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PATH" value="node.exe"/>
    <add key="CWD" value="%dwd%"/>

    <add key="AS_SERVICE" value="auto"/>
    <add key="USE_SHOWWINDOW" value="true"/>


    <add key="OUTPUT" value="%temp%\drives.log"/>

    <add key="ARGV0" value="node_modules/cnyks/bin/cnyks"/>
    <add key="ARGV1" value="."/>
    <add key="ARGV2" value="--ir://run"/>

  </appSettings>
</configuration>