<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PATH" value="D:\apps\bundle\node-v8.17.0-win-x64\node.exe"/>
    <add key="CWD" value="%dwd%"/>

    <add key="ARGV0" value="bin\init.js"/>


    <add key="AS_SERVICE" value="true"/>
    <add key="OUTPUT" value="D:\logs\drives.log"/>
  

  </appSettings>
</configuration>